<template>
  <div id="app" class="app">
    <div class="form">
      <div class="presets">
        <v-amount-button
          v-for="preset in presets"
          :key="preset.amount"
          :amount="preset.amount"
          :symbol="preset.symbol"
          :code="preset.code"
          :active="preset.amount === suggestion"
          @click="clickPreset"
        />
      </div>
      <v-amount-input
        class="suggestion_input"
        placeholder="Other"
        :amount="suggestion"
        :currency="currency"
        :symbol="currencySymbol"
        :currencies="currencies"
        :checkValidChar="checkValidChar"
        @updateAmount="updateSuggestion"
        @updateCurrency="updateCurrency"
      />
      <v-button @click="submit">Donate</v-button>
    </div>
  </div>
</template>

<script>
import VButton from '@/components/v-button.vue'
import VAmountButton from '@/components/v-amount-button.vue'
import VAmountInput from '@/components/v-amount-input.vue'

export default {
  name: 'App',
  components: {
    VButton,
    VAmountButton,
    VAmountInput
  },
  computed: {
    currency () {
      return this.$store.state.currency
    },
    suggestion () {
      return this.$store.state.suggestion
    },
    currencies () {
      return this.$store.state.currencies
    },
    currencySymbol () {
      return this.$store.getters.currencySymbol
    },
    presets () {
      return this.$store.getters.presets
    }
  },
  methods: {
    submit () {
      this.$store.dispatch('submit')
        .then(() => {
          window.alert('Thank you for your donation!')
        })
        .catch(error => {
          console.error(error)
        })
    },
    clickPreset ({ amount }) {
      this.$store.commit('changeSuggestion', amount)
    },
    updateSuggestion (value) {
      this.$store.commit('changeSuggestion', value)
    },
    updateCurrency (value) {
      this.$store.commit('changeCurrency', value)
    },
    checkValidChar ($event) {
      if ($event.charCode === 0 || /\d/.test(String.fromCharCode($event.charCode))) {
        return true
      } else {
        $event.preventDefault()
      }
    }
  }
}
</script>

<style scoped>
.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.form {
  width: 300px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #f5f5f7;
  border-radius: 10px;
  padding: 16px;
}

.presets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  padding-bottom: 8px;
}

.suggestion_input {
  padding-bottom: 16px;
}
</style>
