<template>
  <v-button
    :active="active"
    @click="$emit('click', {amount, code})"
  >
    {{ symbol }}{{ localAmount }}
  </v-button>
</template>

<script>
import VButton from '@/components/v-button.vue'

export default {
  name: 'AmountButton',
  components: {
    VButton
  },
  props: {
    amount: Number,
    symbol: String,
    code: String,
    active: Boolean
  },
  computed: {
    localAmount: function () {
      return Number(this.amount || 0).toLocaleString('en-US', {
        style: 'decimal'
      })
    }
  }
}
</script>
