<template>
  <div>
    <span>{{symbol}}</span>
    <input
      class="input"
      v-model="localAmount"
      :placeholder="placeholder"
      @keypress="checkValidChar"
    />
    <select v-model="localCurrency">
      <option
        v-for="currency in currencies"
        :key="currency.code"
        :value="currency.code"
      >
        {{ currency.code }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'AmountInput',
  props: {
    amount: Number,
    symbol: String,
    placeholder: String,
    currency: String,
    currencies: Array,
    checkValidChar: Function
  },
  computed: {
    localAmount: {
      get () {
        return this.amount.toLocaleString('en-US', {
          style: 'decimal'
        })
      },
      set (value) {
        this.$emit('updateAmount', parseInt(value.replace(/[^0-9]/g, ''), 10) || '')
      }
    },
    localCurrency: {
      get () {
        return this.currency
      },
      set (value) {
        this.$emit('updateCurrency', value)
      }
    }
  }
}
</script>

<style scoped>
.input {
  margin: 0 8px;
}
</style>
