<template>
  <button
    v-on="$listeners"
    :class="['button', { 'button-active': active }]">
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    active: Boolean
  }
}
</script>

<style scoped>
.button-active {
  background-color: #5087d9;
  color: white;
}
</style>
